.flex-center {
   display: flex;
   align-items: center;
   justify-content: center;
}
.flex-grow {
   flex-grow: 1;
}
.m05 {
   margin: 0 5px;
}
.color-dark-black {
   color: var(--wsi-color-dark-black);
}
.color-dark-gray {
   color: var(--wsi-color-dark-gray);
}
