:root {
   // 主色调
   --wsi-color-main: #f2a829;
   --wsi-color-main-light-1: #ffc76b;
   --wsi-color-main-light-2: #ffe9cd7a;

   // 背景主色调
   --wsi-backgroud-color: white;

   // 适配黑色主题的字体色
   --wsi-color-dark-black: black;
   --wsi-color-dark-gray: gray;
}
